<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <button class="btn btn-lg btn-outline-primary ml-auto mr-5"  (click)="open(content)">Add Project</button>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Project</h4>
      <button type="button" class="close btn btn-primary float-right m-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="md-form form-group mt-5">
          <form [formGroup]="AddForm" (ngSubmit)="onSubmitAdd()">            
              <div>
                  <label for="title">
                  Title
                  </label>
                  <input id="title" type="text" formControlName="title">
              </div> 
              <div>
                  <label for="description">
                  Description
                  </label>
                  <input id="description" type="text" formControlName="description">
              </div>    
              <div>
                  <label for="duration">
                  duration
                  </label>
                  <input id="duration" type="text" formControlName="duration">
              </div>     
              <button class="btn btn-outline-primary card-link" type="submit">Save</button>                                  
          </form>
          
        </div>
      </form>
    </div>  
  </ng-template>
</nav>
<br>
  <!--<ul class="navbar-nav" *ngFor="let project of projects">
      <li><a [routerLink]="['/projects', project.id]">
          {{ project.title }}</a></li>
  </ul> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th> Project Title</th>
            <th> Project Description</th>
            <th> Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{project.title}}</td>
            <td>{{project.description}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                  [routerLink]="['/projects', project.id]"
                  data-backdrop="static" data-keyboard="false"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>